<div class="footerMenu w-100">

    <div class="container">
        <div class="row">
            <div class="col"  id="linkedinColumn">
                <a href="https://www.linkedin.com/in/ozguc-dalga-b3613b272/" target="_blank"><i class="fa-brands fa-linkedin"> <Span style="">Linkedin</Span></i></a>
            </div>
            <div class="col"  id="MediumColumn">
                <a  href="https://medium.com/@ozgucdalga"  target="_blank"><i class="fa-brands fa-medium" >Medium</i></a>
            </div>
            <div class="col">
               
            </div>
            <div class="col">
                <app-logo style="margin-left: 100px; margin-top: 20px;"></app-logo>
            </div>
            

        </div>

    </div>
   
</div>
