.footerMenu{
    position: fixed; /* Sabit konum */
    bottom: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Sayfa genişliği kadar */
    height: 55px; /* Footer yüksekliği */
    background: linear-gradient(to left,#fff,#bfe7f0);
    

}


#linkedinColumn{
    margin-top: 10px;
    color: blue; 
    margin-left: 110px;
    
}
#MediumColumn{
    margin-top: 10px;
    color: blue; 
    margin-left: 110px;

}