.footerMenu{
    position: fixed; /* Sabit konum */
    bottom: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Sayfa genişliği kadar */
    height: 100px; /* Footer yüksekliği */
    background: linear-gradient(to left,#fff,#bfe7f0);

}