<div class="sky">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  
  <!-- Diğer yıldızlar buraya eklenebilir -->
</div>

<div class="intro" id="intro">
  <div class="left">
    <div class="imgContainer">
      <img src="assets/images/profile.png"  />
    </div>
  </div>
  <div class="right">
    <div class="wrapper">
      <h2 style="color: deepskyblue;">Hi There, I'm</h2>
      <h1 style="color: blue;">Ozguc Dalga</h1>
      <h3 style="color:blue">
        Freelance <app-typing></app-typing>
      </h3>

      <app-pdf-dpwnload style="margin-top: 50px;"></app-pdf-dpwnload>

    </div>
  </div>
</div>
