body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sky {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.star {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: blue;
  border-radius: 50%;
  animation: starAnimation linear infinite;
}

@keyframes starAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.star:nth-child(1) {
  left: 10%;
  animation-duration: 5s;
}

.star:nth-child(2) {
  left: 30%;
  animation-duration: 7s;
}

.star:nth-child(3) {
  left: 70%;
  animation-duration: 6s;
}

.star:nth-child(4) {
  left: 250%;
  animation-duration: 7s;
}

.star:nth-child(5) {
  left: 330%;
  animation-duration: 5s;
}

.star:nth-child(6) {
  left: 85%;
  animation-duration: 6s;
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: lightblue; /* Başlangıç rengi */
  animation: skyAnimation 10s linear infinite; 
  display: flex;
}

@keyframes skyAnimation {
  0% {
    background-color: white;
  }
  50% {
    background-color: white; /* Yarı noktada daha koyu mavi */
  }
  100% {
    background-color: white;
  }
}

.intro.mobile {
  flex-direction: column;
  align-items: center;
}

.intro .left {
  flex: 0.5;
  overflow: hidden;
}

.intro .left .imgContainer {
  margin-top:70px;
  margin-left: 100px;
  width: 450px;
  height: 450px;
  background: linear-gradient(to left,#fbfbfb,#bfe7f0);
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

.intro.mobile .left .imgContainer {
  align-items: flex-start;
}

.intro .left .imgContainer img {
  height: 80%;

}

.intro.mobile .left .imgContainer img {
  
  width: 400px;
  
}

.intro .right {
 
  flex: 0.5;
  position: relative;
}

.intro .right .wrapper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro.mobile .right .wrapper {
  padding-left: 0;
  align-items: center;
}

.intro .right .wrapper h1 {
  font-size: 60px;
  margin: 10px 0;
}

.intro.mobile .right .wrapper h1 {
  font-size: 40px;
}

.intro .right .wrapper h2 {
  font-size: 35px;
}

.intro .right .wrapper h3 {
  font-size: 30px;
}

.intro.mobile .right .wrapper h3 {
  font-size: 20px;
}

.intro .right .wrapper h3 span {
  font-size: inherit;
  color: rgb(85, 127, 182);
}

.intro .right .wrapper h3 .ityped-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro .right a {
  position: absolute;
  bottom: 10px;
  left: 40%;
}

.intro .right a img {
  width: 30px;
  animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

.photo{
  width: 70%;
  border-radius: 40% 40%40% 0%;
  mask-image: linear-gradient(to top, transparent 40%, white 100%);
  mask-size: 100% 100%;
}