  <div class="menu-container ">
    <input type="checkbox" id="menu-toggle" class="hidden">
    <label for="menu-toggle" class="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <ul class="menu">
        <li routerLink="">
          <a  >
              <i class="fa-solid fa-house"></i>
              Home</a>
        </li>
        <li >
          <a routerLink="about">
              <i class="fa-solid fa-warehouse"></i>
              About</a>
          </li>

    
          <li >            
              <a  routerLink="portfolio">
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                  Portfolio</a>
            </li>
  
            <li >
              <a  routerLink="contact">
                  <i class="fa-solid fa-envelope"></i>
                  Contact</a>
            </li>
    
  </ul>
  </div>
  
  