.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  
    .menu-icon {
      cursor: pointer;
      display: block;
      position: relative;
      padding: 20px;
      z-index: 2;
  
      .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
      }
    }
  
    #menu-toggle {
      display: none;
  
      &:checked ~ .menu {
        transform: translateX(0);
      }
  
      &:checked ~ .menu-icon .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
  
      &:checked ~ .menu-icon .bar:nth-child(2) {
        opacity: 0;
      }
  
      &:checked ~ .menu-icon .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  
    .menu {
        height:500px;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: aqua;
        position: absolute;
        top: 60px;
        right: 0;
        width: 130px; /* Menü genişliğini artırın */
        transform: translateX(100%);
        transition: 0.4s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Menüye gölge ekleyin */
        background: linear-gradient(to right,#9590d0,#040d76);
        color: #ccc;
      
        li {
          padding: 15px; /* Menü öğe içeriğinin boşluğunu artırın */
          border-bottom: 1px solid #ccc;
          height: 100px;
      
          a {
            color: #333;
            text-decoration: none;
            transition: color 0.2s;
      
            &:hover {
              color: #ff5733;
            }
          }
        }
      }
      
  }
  