  <div class="menu-container ">
    <input type="checkbox" id="menu-toggle" class="hidden">
    <label for="menu-toggle" class="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <ul class="menu">
        <li routerLink="">
          
              <i class="fa-solid fa-house"></i>
              Home
        </li>
        <li routerLink="blog">
          
              <i class="fa-solid fa-warehouse"></i>
              Blog
          </li>

    
          <li    routerLink="portfolio" >            
            
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                  Projects
            </li>
  
            <li  routerLink="contact">
             
                  <i class="fa-solid fa-envelope"></i>
                  Contact
            </li>
    
  </ul>
  </div>
  

 
  