#navbarSupportedContent{
   
   
   
}
.header{
    position: fixed; /* Sabit konum */
    top: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Sayfa genişliği kadar */
    height: 60px; /* Footer yüksekliği */
    display:flex;
    background: linear-gradient(to right,#fff,#bfe7f0);
}

#naviBox{
    float:right;
    margin-right: 0px;
    
}