<div class="container">
  <form   (ngSubmit)="createUser()">
  <div class="row">
    <div class="col-6">

      
      <div class="mb-3 ">
        <label for="exampleFormControlInput1" class="form-label w-50">Name</label>
        <input type="text" class="form-control"  [(ngModel)]="user.userName"     name="userName"  placeholder="type your name.."  required>
      </div>
      <div class="mb-3 ">
        <label for="exampleFormControlInput1"  class="form-label">Email Addess</label>
        <input type="email" class="form-control"  [(ngModel)]="user.email" name="email" placeholder="Email address">
      </div>

    </div>

    <div class="col-6">
      <div class="mb-3 ">
        <label for="exampleFormControlInput1"   class="form-label w-50">Last Name</label>
        <input type="email" class="form-control" [(ngModel)]="user.lastName"  name="userName"  placeholder="type your last name..">
      </div>
      <div class="mb-3 ">
        <label for="exampleFormControlInput1"    class="form-label">Phone</label>
        <input type="email" class="form-control" [(ngModel)]="user.phoneNumber"  name="phoneNumber" placeholder="Phone number">
      </div>



    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1"      class="form-label">Your Message</label>
      <textarea class="form-control" [(ngModel)]="user.message" name="message" rows="3"></textarea>
    </div>

    <div style="margin-left: 235px;;">
      <span><button type="button" class="btn btn-outline-danger" style="margin-left: 200px;" routerLink="">
          <i class="fa-solid fa-xmark"></i>
          Cancel</button></span>

         
    
      <span><button type="submit" class="btn btn-outline-success" style="margin-left: 20px;" >        
        
          <i class="fa-solid fa-check"></i>
          Submit</button></span>

          

         
    </div>


</div>


  </form>


</div>

