<div class="contactPage">

<div class="container">
    <div class="row"  >

        <div class="row">
            <div class="col"   style="margin-top: 100px;">

                <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label w-50">Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="type your name..">
                  </div>
                  <div class="mb-3  w-50">
                    <label for="exampleFormControlInput1" class="form-label">Email Addess</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                 
                  <div class="mb-3  w-50">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            
            </div>
            <div class="col "  style="margin-top: 100px;">
           
                <div class="mb-3 w-50">
                    <label for="exampleFormControlInput1" class="form-label w-50">Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="type your name..">
                  </div>
                  <div class="mb-3  w-50">
                    <label for="exampleFormControlInput1" class="form-label">Email Addess</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                 
                  <div class="mb-3  w-50">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

                  <div>
                <span><button type="button" class="btn btn-outline-danger"  style="margin-left: 200px;" routerLink="">Cancel</button></span>
                <span><button type="button" class="btn btn-outline-success"  style="margin-left: 20px;" >Submit</button></span>

                  </div>
                  

            </div>
            
          </div>

          

    </div>
</div>




</div>