<div class="subHeader"  >
  
  <div class="text-center">
    <span ><h2>My Projects</h2></span>
  </div>
  <div class="CardContainer">

    <div class="left">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKCXrcqvM7MpXcDQCNb-tS0n-RX4hoBj6fZQ&usqp=CAU">
    </div>
    <div class="right">
        <div class="ProjectTitle">
          <img class="projectPhoto1" >
          <p class="project1Text"><span style="font-size: 40px; padding-left: 20px;">L</span>orem ipsum palette lorem ipsum palette lorem ipsum palettelorem ipsum palette lorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum 
            palettelorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum palettelorem ipsum palette</p>
        </div>
        <button type="button" class="btn btn-outline-info">Read More</button>

    </div>

  </div>
  <!--<hr class="FGGm7tPf4ZjbykwRd2QU"> -->
  

 



  </div>





