.subHeader{
  margin-top:63px;
  width: 100%;
  height:relative;
  color: blue; 
  background-image: url("src\assets\images\portfolioBg.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.text-center {
  text-align: center;
  margin-top: 10px;
  
}

.CardContainer{
  width :70%;
  height: 250px;
  text-align: center;
  margin-left: 15%;
  margin-top:50px;
  
  display:flex    
}

.left{
  flex:0.2;
  margin: 10px;
  border-right: 1px solid deepskyblue;
  
}
.left img{
  width:80%;
  height:90%; 
  border: 3px solid floralwhite;
}

.right{
  flex:0.8;
  margin-left: 20px;
  
  
}

.ProjectTitle{

  text-align: center;
}


.projectPhoto1{
  width: 48px;
  height: 48px;
  background-image: url("src\assets\images\icon1Portfolio.png");
  
}

.project1Text{
  text-align: justify;
  color: black;
  font-size: 12px;
}

